.input
    width 400px
    height 40px
    padding 0 10px
    background-color transparent
    border 1px solid #d0d0d0
    color #4a4a4a
    font-size 13px
    font-weight 300
    letter-spacing 1px

.checkbox input
    position absolute
    z-index -1
    opacity 0
    margin 0 0 0 7px

.checkbox__text
    position relative
    margin-top 14px
    padding 0 0 0 30px
    color #9b9b9b
    font-size 12px
    font-weight 400
    letter-spacing .43px
    cursor pointer
    a
        color #9b9b9b

.checkbox__text:before
    position absolute
    top -3px
    left 0
    width 20px
    height 20px
    background transparent
    content ''
    border 1px solid #d0d0d0

.checkbox__text:after
    position absolute
    top 0
    left 3px
    width 14px
    height 14px
    opacity 0
    background-image url('data:image/svg+xml;charset=utf-8,%3Csvg%20id%3D%22eb398f14-ac70-450a-b756-dd4b418e71c7%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016.23%2010.99%22%3E%3Ctitle%3Eapprove-2%3C%2Ftitle%3E%3Cpolyline%20id%3D%22f2449095-3a4b-46fe-a3b0-0ccb765616de%22%20data-name%3D%22Path-22534%22%20points%3D%220.35%204.63%206.01%2010.29%2015.88%200.35%22%20style%3D%22fill%3Anone%3Bstroke%3A%234a4a4a%22%2F%3E%3C%2Fsvg%3E')
    background-repeat no-repeat
    content ''
    transition .2s
    background-position center center

.checkbox input:checked + .checkbox__text:after
    opacity 1

.checkbox input:focus + .checkbox__text:before
    border 1px solid #4a4a4a

.user
    box vertical space-between
    height 100%

.formItem
    margin-bottom 22px

.formItemHalf
    box horizontal
    padding 0 15px 0 0

.buttonCheck
    box vertical middle center
    display block
    width 100%
    height 40px
    max-width 140px
    max-height 99px
    min-height 40px
    overflow hidden
    margin 0 0 0 15px
    background-color #e9f0e0
    border 0
    color #4a4a4a
    font-size 16px
    font-weight 300
    letter-spacing 1.23px
    outline 0
    cursor pointer
    transition all .4s
    &:disabled
        opacity .5
        color #aeaeae

.label
    box horizontal middle space-between
    display block
    margin-bottom 7px
    color #6b6969
    font-size 14px
    font-weight 400
    letter-spacing .7px
    span
        color #cbdfc3
        font-size 12px
        font-weight 400
        letter-spacing .43px
        text-decoration underline
        cursor pointer
        transition .4s all
        &:hover
            color #cfbf99
            text-decoration none

.buttons
    box vertical top left
    flex 0 1 auto
    padding-right 15px

.buttonSubmit
    display block
    width 100%
    height 40px
    max-height 99px
    min-height 40px
    overflow hidden
    background-color #e9f0e0
    border 0
    color #4a4a4a
    font-size 16px
    font-weight 300
    letter-spacing 1.23px
    outline 0
    transition all .4s
    &:disabled
        opacity .5
        color #aeaeae