.item
    box vertical space-between
    display block
    width 295px
    height 145px
    margin-bottom 6px
    background-color #fff9ea
    background-color #fff9ea
    align-self stretch

.top
    box horizontal middle
    flex 1 1 auto
    padding 13px 11px

.content
    box vertical middle left
    flex 1 1 100%
    padding 0 10px 0 0
    align-self stretch

.delete
    margin 0 5px 0 0

.image
    min-width 50px
    margin 0 10px 0 0
    border-radius 50%
    size 50px
    img
        border-radius 50%
        size 100%

.name
    margin-bottom 9px
    color #4a4a4a
    font-size 14px
    font-weight 400
    line-height 18px
    letter-spacing 1px

.price
    color #666666
    font-size 12px
    font-weight 300
    letter-spacing 2.76px

.qty
    box vertical space-between center

.qtyPlus,
.qtyMinus
    background transparent
    border 0
    outline 0

.qtyNumber
    padding 10px 0 7px
    color #666666
    font-size 16px
    font-weight 300