.inputMask
    width 100%
    height 40px
    padding 0 10px
    background-color transparent
    border solid 1px #4a4a4a
    color #000
    font-family 'Roboto', sans-serif
    font-size 12px
    font-weight 300
    letter-spacing .17em
    &:focus
        border-color #9ede9c

.inputError
    border-color red !important

.inputRequest
    display block
    position absolute
    top 0
    right -10px
    color #000
    font-family 'Roboto', sans-serif
    font-size 14px

.inputRequestError
    color red

.input:focus + span
    color #9ede9c