.boxSelect
    box horizontal middle left
    flex 1 1 auto
    height 100%
    align-self stretch

.boxSelectItem
    box vertical top center
    margin-right 72px
    &:last-child
        margin-right 0
    &Active
        .boxSelectItemImage
            border 4px solid #CBDFB1

.boxSelectItemImage
    margin-bottom 15px
    border 4px solid transparent
    border-radius 50%
    transition all .4s
    size 74px

.boxSelectItemName
    position relative
    margin-bottom 10px
    padding-bottom 3px
    color #000000
    font-size 12px
    font-weight 300
    letter-spacing .58px
    text-transform uppercase
    &:after
        position absolute
        bottom 0
        left center
        background-color #666
        content ''
        size 50px 1px

.boxSelectItemPrice
    color #666666
    font-size 12px
    letter-spacing 1.76px