.slick-slider
  display block
  position relative
  box-sizing border-box
  user-select none
  touch-action pan-y

.slick-list
  display block
  position relative
  overflow hidden
  margin 0
  padding 0
  &:focus
    outline none
  &.dragging
    cursor pointer
    cursor hand

.slick-slider .slick-track,
.slick-slider .slick-list
  transform translate3d(0, 0, 0)

.slick-track
  display block
  position relative
  top 0
  left 0
  margin-right auto
  margin-left auto
  transition all .4s ease
  &:after
    clear both

.slick-track:before,
.slick-track:after
  display table
  content ''

.slick-loading
  .slick-track
    visibility hidden
  .slick-slide
    visibility hidden

.slick-slide
  display none
  float left
  height 100%
  min-height 1px
  img
    display block
  &.slick-loading
    img
      display none
  &.dragging
    img
      pointer-events none

[dir='rtl']
  .slick-slide
    float right

.slick-initialized
  .slick-slide
    display block

.slick-vertical
  .slick-slide
    display block
    height auto
    border 1px solid transparent

.slick-arrow
  &.slick-hidden
    display none

.boxSlider
  display block
  width 100%
  height 420px

.boxSlide
  display block
  width 100%
  height 420px
  background-size cover
  background-repeat no-repeat
