.compositeBottom
    padding 50px 0

.compositeOrder
    box horizontal
    max-width 1440px
    margin 0 auto
    margin-bottom 40px
    padding 0 25px

.compositeOrderColumn
    lost-column 1 / 3 3 40px flex
    box vertical top left
    position relative
    padding 5px 20px 20px
    &:after
        position absolute
        top 0
        right -30px
        background-color #9b9b9b
        content ''
        size 1px 100%
    &:first-child
        padding-left 0
    &:last-child
        padding-right 0
        &:after
            display none

.compositeOrderHeader
    flex 0 1 auto
    width 100%
    margin-bottom 10px
    color #4A4A4A
    font-size 20px
    font-weight 300
    letter-spacing .8px
    text-transform uppercase
    &Center
        text-align center

.compositeOrderContent
    box vertical top left
    flex 1 1 auto
    align-self stretch
    p
        position relative
        margin-bottom 10px
        padding-bottom 10px
        color #4A4A4A
        font-size 14px
        line-height 20px
        letter-spacing .5px
        &:after
            position absolute
            bottom 0
            left 0
            background-color #EFE5CE
            content ''
            size 70px 1px

.compositeOrderIngredients
    position relative
    margin-bottom 10px
    padding-bottom 10px
    span
        display block
        color #292b2c
        font-size 14px
        line-height 20px
        letter-spacing .5px
    &:after
        position absolute
        bottom 0
        left 0
        background-color #EFE5CE
        content ''
        size 70px 1px

.compositeOrderIngredient
    margin-right 10px
    color #9b9b9b
    font-size 14px
    line-height 20px
    letter-spacing .5px
    text-decoration none

.compositeOrderStoring
    position relative
    margin-bottom 10px
    padding-bottom 10px
    color #4A4A4A
    font-size 14px
    line-height 20px
    letter-spacing .5px
    &:after
        position absolute
        bottom 0
        left 0
        background-color #EFE5CE
        content ''
        size 70px 1px

.compositeOrderDelivering
    position relative
    margin-bottom 10px
    padding-bottom 10px
    color #4A4A4A
    font-size 14px
    line-height 20px
    letter-spacing .5px

.compositeOrderPrice
    box horizontal middle space-between
    width 100%
    margin-bottom 20px
    padding-top 16px
    border-top 1px solid #EFE5CE
    color #4A4A4A
    font-size 20px
    font-weight 300
    letter-spacing .8px

.compositeOrderBasketAdd
    box vertical middle center
    width 100%
    height 44px
    background #E9F0E0
    border 0
    color #4A4A4A
    font-size 16px
    font-weight 300
    letter-spacing 1.23px
    outline 0