.qtySelect
    box horizontal middle space-between
    width 100%
    margin-bottom 30px
    padding-top 10px

.qtySelectLabel
    color #000000
    font-size 16px
    font-weight 300
    letter-spacing .5px

.qtySelectNumbers
    box horizontal middle

.qtySelectNumbersMinus,
.qtySelectNumbersPlus
    display block
    margin 0
    padding 0
    background-color transparent
    border 0
    size 12px 23px
    &:focus
        outline 0

.qtySelectNumbersQty
    width 60px
    padding 0
    background-color transparent
    border-width 0
    font-size 20px
    font-weight 200
    line-height 1
    text-align center
    cursor default
