.cartWrapper
    box vertical top

.total
    box vertical middle
    display block
    width 295px
    height 85px
    margin-bottom 7px
    margin-left 24px
    padding 0 12px
    background-color #FFF9EA

.totalPrice
    box horizontal bottom space-between
    width 100%
    margin-bottom 11px
    color #4A4A4A
    font-family 'Roboto'
    font-size 16px
    line-height 17px
    letter-spacing .26px
    &Discount
        margin-right 0
        color rgba(#4A4A4A, .5)
        font-size 12px
        line-height 14px
        text-decoration line-through

.percentPrice
    box horizontal middle space-between
    width 100%
    padding-right 2px
    color #9B9B9B
    font-family 'Roboto'
    font-size 14px
    letter-spacing .5px