.bottomNav
    box vertical top

.bottomNavButtonBack
    display block
    width 100%
    height 44px
    max-height 99px
    min-height 40px
    overflow hidden
    margin-bottom 20px
    background-color transparent
    border 1px solid #ded2b4
    color #ded2b4
    font-size 16px
    font-weight 300
    letter-spacing 1.23px
    outline 0
    transition all .4s
    &:disabled
        opacity .5

.bottomNavButtonNext
    display block
    width 100%
    height 44px
    max-height 99px
    min-height 40px
    overflow hidden
    background-color #e9f0e0
    border 0
    color #4a4a4a
    font-size 16px
    font-weight 300
    letter-spacing 1.23px
    outline 0
    transition all .4s
    &:disabled
        opacity .5
        color #aeaeae