.orderForm
    box vertical space-between
    width 450px
    height 607px
    padding 20px 25px
    background-color #fff9ea

.orderTop
    box horizontal middle space-between
    position relative
    width 100%
    height 85px
    padding 0 25px
    background-color #fff9ea
    &:after
        position absolute
        bottom 5px
        left 25px
        width calc(100% - 50px)
        height 1px
        background-color #eee5cd
        content ''

.orderSteps
    box horizontal middle

.orderStepHeader
    color #4a4a4a
    font-size 14px
    font-weight 300
    letter-spacing .7px

.step
    flex 1 1 auto