.orderSteps
    box horizontal middle

.orderStep
    box vertical middle center
    width 30px
    height 30px
    margin-right 10px
    margin-left 10px
    border 1px solid #ded2b4
    border-radius 50%
    color #dfd3b4
    font-size 12px
    font-weight 400
    letter-spacing .75px
    transition all .4s
    &Active
        background-color #e9f0e0
        border 1px solid #cbdfb1
        color #4a4a4a
    &:last-child
        margin-right 0