.inputFlat
    width 62px
    height 40px
    margin-left 10px
    padding 0 10px
    background-color transparent
    border 1px solid #d0d0d0
    color #4a4a4a
    font-size 13px
    font-weight 300
    letter-spacing 1px

.formItemAddress
    box horizontal