.profileHistoryItem
    box horizontal middle
    width calc(100% - 20px)
    margin-bottom 15px
    padding-bottom 15px
    border-bottom 1px solid #efe5ce

.profileHistoryDate
    flex 0 1 auto
    position relative
    padding-right 11px
    color #cfbf99
    font-size 13px
    font-weight 300
    letter-spacing 1px
    &:after
        position absolute
        top center
        right 0
        background-color #efe5ce
        content ''
        size 1px 30px

.profileHistoryAddress
    flex 1 1 auto
    position relative
    padding 0 11px
    color #cfbf99
    font-size 13px
    font-weight 300
    letter-spacing 1px
    &:after
        position absolute
        top center
        right 0
        background-color #efe5ce
        content ''
        size 1px 30px

.profileHistoryTotal
    flex 0 1 100px
    min-width 100px
    padding-left 11px
    color #4a4a4a
    font-size 13px
    font-weight 400
    line-height 17px
    /* Text style for "3 350 Р" */
    letter-spacing .86px