body
  font-family 'proxima-soft', Arial, Helvetica, sans-serif
  -webkit-font-smoothing antialiased

@reset-global pc
.ProfileApp
  min-height 100vh
  background-image url('./lavka_back.jpg')
  background-size cover
  *
    box-sizing border-box !important
    &:after
      box-sizing border-box !important
    &:before
      box-sizing border-box !important